/***** Reset *****/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/***** Variables *****/

:root {
  --primary-color: hsl(158, 36%, 37%);
  --background-color: hsl(30, 38%, 92%);
  --text-dark: hsl(212, 21%, 14%);
  --text-medium: hsl(228, 12%, 48%);
  --button-hover: #1a4032;
}

/***** Fonts *****/

@font-face {
  font-family: "Fraunces";
  src: url("../font/Fraunces-VariableFont.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-VariableFont.ttf");
}

/***** Mobile *****/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: var(--background-color, #aaa);
}

.card {
  width: 34.3rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.card__img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.card__figcaption {
  position: absolute;
  visibility: hidden;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 2.4rem 2.8rem;
  gap: 1.6rem;
}

.card__product-type {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--text-medium, black);
}

.card__title {
  font-family: "Fraunces", sans-serif;
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: bold;
}

.card__description {
  font-family: "Monserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 2.3rem;
  letter-spacing: 0.1rem;
  color: var(--text-medium, black);
}

.card__price-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card__price-current {
  font-family: "Fraunces", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 3.2rem;
  color: var(--primary-color, darkgreen);
}

.card__price-old {
  font-family: "Monserrat", sans-serif;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: var(--text-medium, black);
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: var(--primary-color, darkgreen);
  color: white;
  padding: 1.5rem;
  border: none;
  border-radius: 0.8rem;
}

.card__button__icon {
  margin-right: 1rem;
}

/***** Desktop *****/

@media (min-width: 90rem) {
  .card {
    width: 60rem;
    flex-direction: row;
  }

  .card__img {
    border-radius: 1rem 0 0 1rem;
    width: 30rem;
    height: 100%;
  }

  .card__content {
    padding: 3.2rem;
    width: 30rem;
    justify-content: space-between;
  }

  .card__button:hover {
    background-color: var(--button-hover, darkgreen);
    cursor: pointer;
  }
}

/***** Footer *****/
.attribution {
  font-size: 1.1rem;
  text-align: center;
  position: fixed;
  bottom: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
